<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>

</header>
<footer>
    <div class="footercol">
        <h4>Latest Tweets</h4>
        <div class="tweet">
            <p>
                <a href="">@namehere</a>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. <br>1 day ago
            </p>
        </div><!-- tweet -->
        <div class="tweet">
            <p>
                <a href="">@namehere</a>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. <br>1 day ago
            </p>
        </div><!-- tweet -->
    </div><!-- footercol -->
    <div class="footercol">
        <h4>Quick Links</h4>
        <ul class="quicklinks">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is a link</a></li>
        </ul>
    </div><!-- footercol -->
    <div class="footercol">
        <h4>Latest Blog Posts</h4>
        <div class="blogpost">
            <h5>Post Title</h5>
            <div class="postintro">
                <a href="#">Admin</a>
                domainname.com<br>
                Sunday, 29th May 2016
            </div><!-- postintro -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et.</p>
            <a href="#" class="readmore">Read more &raquo;</a>
        </div><!-- blogpost -->
        <div class="blogpost">
            <h5>Post Title</h5>
            <div class="postintro">
                <a href="#">Admin</a>
                domainname.com<br>
                Sunday, 29th May 2016
            </div><!-- postintro -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et.</p>
            <a href="#" class="readmore">Read more &raquo;</a>
        </div><!-- blogpost -->
    </div><!-- footercol -->
    <div class="footercol">
        <h4>Contact Us</h4>
        <form action="index.html" class="contact">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="subject" placeholder="Subject">
            <textarea name="message" id="" cols="30" rows="7" placeholder="Message"></textarea>
            <button>Submit</button>
        </form>
    </div><!-- footercol -->
</footer>

</body>
</html>