<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HairB2B</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div class="wrapper">
    <div class="top-bar clearfix">
        <div class="top-bar-links">
            <ul>
                <li><a href="../index/index.html">Home</a></li>
                <li><a href="../signup/signup.html">Sign Up</a></li>
                <li><a href="../signin/signin.html">Sign In</a></li>

            </ul>
        </div><!-- toppp-bar-links -->

    </div><!-- topbar -->


    </div><!-- topbar -->
<div class="panel-title">

</div>

    <!--<div class="title">-->
        <!--&lt;!&ndash;<button type="button" class="btn-transparent btn-transparent:hove btn-lg">Search Stylist</button>&ndash;&gt;-->
        <!--<h1>Find you Stylist here..</h1>-->
    <!--</div>-->
    <footer>
        <div class="footercol">
            <a href="../footerContent/about.html">About Us</a>
        </div><!-- footercol -->
        <div class="footercol">
            <a href="../footerContent/contact.html">Contact Us</a>

        </div><!-- footercol -->
        <div class="footercol">
            <a href="../footerContent/faq.html">FAQ</a>

        </div><!-- footercol -->
        <div class="footercol">
            <a href="../footerContent/iosapp.html">iOS App</a>

            </form>
        </div><!-- footercol -->
    </footer>
    <!--<div class="copyrights">-->
        <!--<div class="left">-->
            <!--Copyrights &copy; Domain Name. All Rights Reserved.-->
        <!--</div>&lt;!&ndash; left &ndash;&gt;-->
        <!--<div class="right">-->
            <!--Website by: Malsha Hansini-->

        <!--</div>&lt;!&ndash; right &ndash;&gt;-->
    <!--</div>&lt;!&ndash; copyrights &ndash;&gt;-->
</div><!--wrapper-->


</button>
</body>
</html>