body{
    background-image: url("../img/hair-4.jpg");
    background-color: #cccccc;


    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    margin: 10px auto;
    width: 100%;

}
.signform{

    /*position: absolute;*/
    /*margin: 0 auto;*/
    /*padding: 20px 20px 20px;*/
    width: 500px;
    /*background: white;*/
    background: rgb(158, 120, 75); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 193, 158, 0.7);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(158, 120, 75, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(159, 123, 72, 0.3);
}
.center {
     margin: auto;
    margin-right: 300px;
    margin-top: 200px;
    padding: 30px;
 }
.icon-success {
    color: #5CB85C;
}
.form-group.required .control-label:after {
    content:" *";
    color: #a50d03;
}
.form-group .required-message{
    margin-left: 35%;
}
.form-group .required-message:before{
    content:"* ";
    color: #a50d03;
}
.searchform{
    width: 500px;
    float: left;
    position: absolute;
    height:100%;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(158, 120, 75); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 193, 158, 0.7);
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(158, 120, 75, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(159, 123, 72, 0.3);
}